body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  transition: background 0.2s;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100;
}